* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}


.menu {
  background-color: #697750;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav li a {
  color: #fff;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;

}

.carousel-item {
  height: 100vh;
}

.descripcion {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0,0,0,0.2);
  color: white;
  font-size: 5rem;
  text-align: center;  
}

/* esto es para hacer 3d el logo */
.logo-container {  
  position: absolute;
  top: 40vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  max-width: 100%;
  perspective: 1000px;
}

.logo-container img {
  width: 50%;
  height: auto;
  display: block;
  animation: rotate 10s linear infinite;
  transform-style: preserve-3d;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.imagen-redonda {
  width: 20vh;
  height: 20vh;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}

/* efecto elevacion para las cards  */
.card .mb-3 .border-0 {
  width: 31vh;
  height: 38vh;
  position: relative;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 330px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
  margin-top: 23px;

}
.card-img-top .imagen-redonda {
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

/* estilo estrella para la viñeta */
ul {
  list-style-image: url(./images/star.svg);
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 341px;
  /* background-color: #ccc; */
  margin-bottom: 10px;
  background: linear-gradient(to right, #f3f3f3, #d4dabe);
  /* background-position: 951px 0;   */
}

.team ,h1  {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* crea una sombra detrás del texto */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); crea una sombra en la caja */
  /* background-color: #fff; establece el color de fondo para que se vea la iluminación */
  padding: 5px; /* añade un poco de espacio alrededor del texto para que se vea mejor el efecto */
}

.scroll-container {
  height: 341px;
  width: 35%;
  overflow-y: scroll;
  padding-right: 20px; /* para evitar que el texto se superponga al scrollbar */
  line-height: 1.5;
  border: 1px solid black;
  border: 1px solid rgba(255, 255, 255, 0.3); /* establecemos el borde con transparencia */
  backdrop-filter: blur(5px); /* aplicamos el filtro de borde desenfocado */
}

.scroll-container > p:last-of-type {
  margin-bottom: 100px; /* ajusta el offset para el último párrafo */
}

/* estilos para el formulario de contacto */
.input-group-text, .modal-content{
  background-color: #e0e4d3;  
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;

}

.map-responsive iframe{
  left:0;
  top:0;
  height:auto;
  width:100%;
  position:relative;
}


#row2columnas{
  column-count: 2;
}

/* Estilo básico para el acordeón */
.accordion {
  max-width: 800px; /* Ancho máximo del acordeón */
  margin: 0 auto; /* Centrar el acordeón en la página */
}

.accordion-item {
  border: 1px solid #ddd; /* Borde del elemento del acordeón */
  margin-bottom: 10px; /* Espacio entre elementos del acordeón */
}

.accordion-button {
  background-color: #f9f9f9; /* Color de fondo del botón del acordeón */
  color: #333; /* Color del texto del botón del acordeón */
  border: none; /* Eliminar borde del botón del acordeón */
  border-radius: 0; /* Eliminar borde redondeado del botón del acordeón */
  font-size: 18px; /* Tamaño de fuente del botón del acordeón */
  text-align: left; /* Alinear texto del botón del acordeón a la izquierda */
  padding: 10px 20px; /* Espacio interno del botón del acordeón */
  width: 100%; /* Ancho del botón del acordeón */
}

.accordion-button:focus {
  outline: none; /* Eliminar contorno del botón del acordeón al hacer foco */
}

.accordion-button:not(.collapsed) {
  background-color: #eee; /* Cambiar color de fondo cuando el elemento del acordeón está abierto */
}

.accordion-body {
  background-color: #fff; /* Color de fondo del contenido del acordeón */
  color: #333; /* Color del texto del contenido del acordeón */
  padding: 20px; /* Espacio interno del contenido del acordeón */
  border-top: 1px solid #ddd; /* Borde superior del contenido del acordeón */
}

/* estilos del footer */
.footer {
  background-color: #f7efde;
  padding: 10px;
}
.footer img {
  background-color: brown;
  max-width: 100%;
}

.footer p {
  margin-top: 10px;
}

.list-inline-item {
  margin-right: 20px;
}

.list-inline-item:last-child {
  margin-right: 0;
}

.copy {
  background-color: #95a274;
  text-align: center;
  color: #fff;
  padding: 2px 0;
}




@media only screen and (min-width: 768px) {
  /* estilos para pantallas de 768px o más */
  /* .image-container {
    display: none;
  } */
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* estilos para pantallas entre 768px y 992px */
}




@media only screen and (min-width: 768px) {
  /* estilos para pantallas de 768px o más */
  /* .image-container {
    display: none;
  } */
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* estilos para pantallas entre 768px y 992px */
}
